<% unless current_user %>
  <tr>
    <div class="about">
      <h2>＃ Welcome!</h2>
      <p>このサイトはプログラミング関連の記事を観覧作成出来ます！</p>
      <p>ちょっとしたメモ帳替わり！日々のアウトプットのため！</p>
      <p>なんでも気軽に載せてください！</p>
      <p>記事の投稿、記事へのコメントは適当にログインしてくださいね！</p><hr>
    </div>
  </tr>
<% end %>