<% article_comments.each do |article_comment| %>
  <% unless article_comment.id.nil? %>
    <p><%= link_to "@ #{article_comment.user.name}さん", user_path(article_comment.user.id) %></p>
    <p>コメント: <%= markdown(article_comment.content).html_safe %></p>
    <% if article_comment.user == current_user %>
      <p><%= link_to 'Delete', article_article_comment_path(article_comment.article_id, article_comment.id), method: :delete, remote: true, id: "delete_button" %></p>
    <% end %>
  <% end %>
<% end %>