<h4>記事検索</h4>
<%= form_tag(articles_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil, class: "button_search"%>
<% end %>
<h4>記事一覧</h4>
<% articles.each do |article| %>
  <li>
    <%= link_to article.title, article %>
  </li>
<% end %>